[Desktop Entry]
Type=Application
Name=Timezones
Comment=World time clocks with native GTK4 UI
Exec=timezones
Icon=com.hernantz.timezones
Terminal=false
Categories=Utility;Clock;
StartupNotify=true
